


body{
    background-color: lightgreen;
  
}
p{
  font-size: 16px;
  font-family: Arial, sans-serif;
  line-height: 26px
}
h4{
  font-size: 25px;
  font-family:'Arial Narrow Bold', sans-serif;
  line-height: 30px
}
/* small */


@media screen and (max-width: 300px) 
{
  body {
    background-color: red;
    
  }

  .small {
    display: flex;
    flex-direction: column;
  }

  .medium {
      display: flex;
      flex-direction: column;
  }

  .large {
    display: flex;
    flex-direction: column;
  }
}



/* medium */


@media screen and (min-width: 300px) and (max-width: 768px) {
  body {
    background-color: green;
  }

 

  .small {
    float: left;
      width:33%;
  }

  .medium {
    display: inline-block;
    width:33%
    
  }

  .large {
 
    float: right;
    width:33%;
  }
}


/* large */



@media screen and (min-width:768px){
    body{
      background-color: blue;
    }

    .small {
      float: left;
      width:50%;
      
  }

  .medium {
    float: right;
   width:50%;
  }

  .large {
    float: bottom;
   width:100%;
     
      
  }
}

